# Voile Basic Environment Variables
export DATABASE_URL=ecto://voile:voile@localhost/voile
export SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Auth
export VOILE_GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
export VOILE_GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
export VOILE_GOOGLE_REDIRECT_URI=http://localhost:4000/auth/google/callback

# Storage Bucket
export VOILE_S3_REGION=ap-southeast-1
export VOILE_S3_ACCESS_KEY_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
export VOILE_S3_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
export VOILE_S3_BUCKET_NAME=voile-attachments
export VOILE_S3_PUBLIC_URL=https://s3.ap-southeast-1.amazonaws.com