<.form :let={f} for={@changeset} action={@action}>
  <.input field={f[:override_label]} type="text" label="Override label" />
  <.input field={f[:position]} type="number" label="Position" />
  <.button>Save Resource template property</.button>
</.form>
