<.simple_form :let={f} for={@changeset} action={@action}>
  <.input field={f[:override_label]} type="text" label="Override label" />
  <.input field={f[:position]} type="number" label="Position" />
  <:actions><.button>Save Resource template property</.button></:actions>
</.simple_form>
