/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss";
@source "../css";
@source "../js";
@source "../../lib/voile_web";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available.
   The heroicons installation itself is managed by your mix.exs */
@plugin "../vendor/heroicons";

/* daisyUI Tailwind Plugin. You can update this file by fetching the latest version with:
   curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui.js
   Make sure to look at the daisyUI changelog: https://daisyui.com/docs/changelog/ */
@plugin "../vendor/daisyui" {
  themes: false;
}

/* daisyUI theme plugin. You can update this file by fetching the latest version with:
  curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui-theme.js
  We ship with two themes, a light one inspired on Phoenix colors and a dark one inspired
  on Elixir colors. Build your own at: https://daisyui.com/theme-generator/ */
@plugin "../vendor/daisyui-theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(30.33% 0.016 252.42);
  --color-base-200: oklch(25.26% 0.014 253.1);
  --color-base-300: oklch(20.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(58% 0.233 277.117);
  --color-secondary-content: oklch(96% 0.018 272.314);
  --color-accent: oklch(60% 0.25 292.717);
  --color-accent-content: oklch(96% 0.016 293.756);
  --color-neutral: oklch(37% 0.044 257.287);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(60% 0.118 184.704);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

@plugin "../vendor/daisyui-theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(96% 0.001 286.375);
  --color-base-300: oklch(92% 0.004 286.32);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(70% 0.213 47.604);
  --color-primary-content: oklch(98% 0.016 73.684);
  --color-secondary: oklch(55% 0.027 264.364);
  --color-secondary-content: oklch(98% 0.002 247.839);
  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(44% 0.017 285.786);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(70% 0.14 182.503);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Use the data attribute for dark mode  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session],
[data-phx-teleported-src] {
  display: contents;
}

/* This file is for your main application CSS */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  @apply transition-all;
}

*:disabled {
  @apply bg-gray-200 cursor-not-allowed;
}

/* This file is for your main application CSS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kanit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  @apply text-base font-semibold;
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-5xl;
}

h3 {
  @apply text-4xl;
}

h4 {
  @apply text-3xl;
}

h5 {
  @apply text-2xl;
}

h6 {
  @apply text-xl;
}

.default-input {
  @apply w-full p-3 text-sm rounded-md border border-gray-300 focus:border-blue-500 focus:outline-none;
}

.voile-gradient {
  @apply bg-gradient-to-br from-violet-400 via-violet-700 to-violet-400;
}

.gallery-gradient {
  @apply bg-gradient-to-br from-purple-500 to-yellow-500;
}

.library-gradient {
  @apply bg-gradient-to-br from-yellow-500 to-rose-500;
}

.archive-gradient {
  @apply bg-gradient-to-br from-rose-500 to-emerald-500;
}

.museum-gradient {
  @apply bg-gradient-to-br from-emerald-500 to-purple-500;
}

.active-voile-menu {
  @apply bg-white text-blue-500;
}

.voile-text-gradient {
  @apply bg-gradient-to-br from-blue-500 to-green-500 inline-block text-transparent bg-clip-text;
}

.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
}

.search-tab {
  @apply flex items-center justify-between;
}

.tab-content {
  @apply w-full;
}

.tab-option {
  @apply w-full;
}

.tab-blocks {
  @apply bg-violet-200 p-5 rounded-bl-lg rounded-br-lg flex gap-2;
}

.search-tab-item {
  @apply bg-violet-50 p-2 w-full text-center rounded-tl-lg rounded-tr-lg cursor-pointer transition-all hover:bg-violet-200;
}

.active-tab-item {
  @apply bg-violet-200 p-2 hover:bg-violet-200;
}

.input-main-search {
  @apply w-full p-2 rounded-md border-violet-500 focus:border-violet-500 focus:outline-none;
}

.btn {
  @apply py-2 px-4 rounded-lg;
}

.default-btn {
  @apply voile-gradient py-2 px-4 rounded-lg text-white transition ease-in-out duration-300;
}

.primary-btn {
  @apply bg-violet-500 text-white py-2 px-4 rounded-lg transition ease-in-out duration-300 hover:bg-violet-600;
}

.disabled-btn {
  @apply bg-gray-200 hover:bg-gray-300 text-gray-500 py-2 px-4 rounded-lg cursor-not-allowed;
}

.warning-btn {
  @apply bg-red-500 text-white py-2 px-4 rounded-lg transition ease-in-out duration-300 hover:bg-red-600;
}

.success-btn {
  @apply bg-green-500 text-white py-2 px-4 rounded-lg transition ease-in-out duration-300 hover:bg-green-600;
}

.cancel-btn {
  @apply bg-yellow-500 text-zinc-900 py-2 px-4 rounded-lg transition ease-in-out duration-300 hover:bg-yellow-600;
}

.hover-btn {
  @apply bg-violet-100 border border-violet-100 text-violet-600 hover:bg-violet-500 hover:text-white transition-all duration-500;
}

.dashboard-menu-btn {
  @apply py-2 px-4 bg-violet-100 text-violet-600 rounded-lg hover:bg-violet-400 hover:text-white transition duration-700 ease-in-out;
}

.dashboard-menu-btn-active {
  @apply py-2 px-4 bg-violet-600 text-white rounded-lg;
}

.default-menu {
  @apply px-3 py-2 rounded-lg transition-all hover:bg-violet-100;
}

.active-menu {
  @apply voile-gradient rounded-lg text-white;
}

.default-voile-menu {
  @apply px-6 py-2 rounded-lg transition-all hover:bg-violet-400 hover:text-white;
}

.default-voile-menu-active {
  @apply px-6 py-2 rounded-lg transition-all bg-white text-violet-500 hover:bg-white hover:text-violet-500;
}

.voile-card {
  @apply flex flex-col items-center rounded-lg bg-violet-100 shadow-lg p-12 text-justify;
}

.default-card {
  @apply bg-white w-full rounded-xl p-5;
}

.sidebar-size {
  @apply w-full max-w-64;
}

.pagination {
  @apply flex items-center justify-center gap-5 w-full;
}

.pagination-btn {
  @apply btn bg-violet-100 text-violet-600 p-1 rounded-lg transition-all duration-300 ease-in-out;
}

.active-pagination {
  @apply btn bg-violet-500 text-white p-1 rounded-lg transition-all duration-300 ease-in-out;
}
