<.header>
  New Vocabulary
  <:subtitle>Use this form to manage vocabulary records in your database.</:subtitle>
</.header>

<.vocabulary_form changeset={@changeset} action={~p"/manage/metaresource/metadata_vocabularies"} />

<.back navigate={~p"/manage/metaresource/metadata_vocabularies"}>
  Back to metadata_vocabularies
</.back>
