<.header>
  Edit Property : {@property.label}
  <:subtitle>Use this form to manage property records in your database.</:subtitle>
</.header>
 {inspect(@changeset.data)}
<.property_form
  changeset={@changeset}
  vocabulary_list={@vocabulary_list}
  current_user={@current_scope.user}
  action={~p"/manage/metaresource/metadata_properties/#{@property}"}
/>
<.back navigate={~p"/manage/metaresource/metadata_properties"}>Back to metadata_properties</.back>
