<.simple_form :let={f} for={@changeset} action={@action}>
  <.input field={f[:label]} type="text" label="Label" />
  <.input field={f[:local_name]} type="text" label="Local name" />
  <.input field={f[:information]} type="text" label="Information" />
  <:actions><.button>Save Resource class</.button></:actions>
</.simple_form>
